PORT=5000
MONGODB_URI=your_mongodb_cluster_uri_here
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=your_email_user_here
EMAIL_PASS=your_email_pass_here

INTERSWITCH_CLIENT_ID=your_id_here
INTERSWITCH_CLIENT_SECRET=your_secret_here
INTERSWITCH_ENV=sandbox
NODE_ENV=development
